@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'MyCustomFont';
    /* Имя шрифта */
    src: url('../fonts/bs.ttf') format('truetype');
    /* Путь к файлу шрифта */
    font-weight: normal;
    /* Нормальный вес шрифта */
    font-style: normal;
    /* Нормальный стиль шрифта */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    list-style: none;
    background: none;
}

button {
    cursor: pointer;
}

ul>li>a {
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 467;
    font-size: 32px;
    line-height: 54px;
    color: #FFFFFF;
}

h2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    max-width: 684px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
}

p {
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* white */
    color: #FFFFFF;
}

html,
body {
    background: #000;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background: #000;
    padding: 35px 0 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.search {
    width: 355px;
    height: 50px;
    border: 1px solid #FFD61E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 12px;
}

.search input {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FCF5EF;
    padding: 0 10px 0 5px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.about {
    gap: 64px;
    max-width: 100%;
    min-height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#about .swiper-slide {
    background-image: url(../img/image.jpg);
    background-size: cover;
}

.about hr {
    border-top: 4px solid #fff;
    width: 200px;
}

.about a {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    width: 440px;
    height: 99px;
    background: #FFD61E;
    border-radius: 10px;
}

.swiper-pagination {
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #FFD61E;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
}

#new {
    padding: 60px 0 90px;
}

#new h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: unset;
    margin-bottom: 40px;
}

.new {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.car_card {
    display: block;
    width: 440px;
    max-width: 440px;
    height: 591px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.car_img {
    height: 433px;
    object-fit: cover;
    overflow: hidden;
}

.car_img img {
    object-fit: cover;
}

.car_name {
    width: 100%;
    height: 158px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFD61E;
    border-radius: 0px 0px 20px 20px;
}

footer {
    padding: 40px 0 26px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer ul {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 40px 0 26px;
}

.soc_link {
    display: flex;
    align-items: center;
    gap: 64px;
}
